{% load static %}

    <!-- ***** CTA Area Start ***** -->
    <section class="mosh-call-to-action-area bg-img bg-overlay section_padding_100" style="background-image: url('{% static "img/bg-img/novine.jpg" %}') ;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content text-center wow fadeIn" data-wow-delay="0.5s">
                        <div class="section-heading">
                            <p>read more, learn more</p>
                            <h2>Check our blog for more</h2>
                            <a href="{% url 'blog' %}" class="btn mosh-btn">Read our Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** CTA Area End ***** -->