{% load static %}


    <!-- ***** Cool Facts Area Start ***** -->
    <section class="mosh-cool-facts-area service-page bg-img section_padding_100" style="background-image: url('{% static "img/core-img/breadcumb.png" %}')";>   
        <div class="container">
            <center>
            <h1 style="color:white">Calculated index data</h1>
            <br>
            <div class="row">
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact">
                        <div class="counter-area">
                            <h3>+<span class="counter">{{ rca_count }}</span></h3>
                        </div>
                        <div class="cool-facts-content">
                        <center>
                            <p>RCA</p>
                        </center>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact">
                        <div class="counter-area">
                            <h3>+<span class="counter">{{ gliit_count }}</span></h3>
                        </div>
                        <div class="cool-facts-content">
                        <center>
                            <p>GLIIT</p>
                        </center>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact">
                        <div class="counter-area">
                            <h3>+<span class="counter">{{ tfcc_count }}</span></h3>
                        </div>
                        <div class="cool-facts-content">
                        <center>
                            <p>TFCC</p>
                        </center>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact">
                        <div class="counter-area">
                            <h3>+<span class="counter">{{ ci_count }}</span></h3>
                        </div>
                        <div class="cool-facts-content">
                        <center>
                            <p>CI</p>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
            </center>
        </div>
    </section>
    <!-- ***** Cool Facts Area End ***** -->
