{% load static %}

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area clearfix">
        <!-- Top Fotter Area -->
        <div class="top-footer-area section_padding_100_0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <a href="{% url 'home' %}" class="mb-50 d-block"><img src="{% static 'img/core-img/logo_ci.svg' %}" width="100" height="100" alt=""></a>
                            <p>Competitiveness index</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <h5>Fast links</h5>
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'rca' %}">RCA index</a></li>
                                <li><a href="{% url 'gliit' %}">GLIIT index</a></li>
                                <li><a href="{% url 'tfcc' %}">TFCC index</a></li>
                                <li><a href="{% url 'ci' %}">CI index</a></li>
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <h5>Other links</h5>
                            <ul>
                                <li><a href="{% url 'home' %}">Competitiveness index</a></li>
                                <li><a href="https://www.ppf.unsa.ba/">Faculty of Agricultural and Food Sciences</a></li>
                                <li><a href="http://motherlandia.org/">Motherlandia</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <h5>Contact Info</h5>
                            <div class="footer-single-contact-info d-flex">
                                <div class="contact-icon">
                                    <img src="{% static 'img/core-img/map.png' %}" alt="">
                                </div>
                                <p style="text-align: left">Zmaja od Bosne 8, 71000 Sarajevo, BiH</p>
                            </div>
                            <div class="footer-single-contact-info d-flex">
                                <div class="contact-icon">
                                    <img src="{% static 'img/core-img/message.png' %}" alt="">
                                </div>
                                <p style="text-align: left">ci-support@motherlandia.org</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fotter Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="footer-bottom-content h-100 d-md-flex justify-content-between align-items-center">
                            <div class="copyright-text">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Website created by student for master's thesis with template made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->
