{% load static %}

    <!-- ***** Service Area Start ***** -->
    <section class="mosh-service-area clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mosh-service-slides owl-carousel">
                        <!-- Single Service Area -->
                        <div class="single-service-area text-center">
                            <h2>01.</h2>
                            <h4>Create template!</h4>
                            <p>Check page <b>Create template</b> that is located on the menu. This page contains specific instructions for further steps.</p>
                        </div>
                        <!-- Single Service Area -->
                        <div class="single-service-area text-center">
                            <h2>02.</h2>
                            <h4>Add data to the template</h4>
                            <p>After creating the template, insert the data into a template that is in the form of an excel file.</p>
                        </div>
                        <!-- Single Service Area -->
                        <div class="single-service-area text-center">
                            <h2>03.</h2>
                            <h4>Select the index that you want to calculate</h4>
                            <p>There are four competitiveness indexes on the page, on the menu there are indexes that can be informed and learned about.</p>
                        </div>
                        <!-- Single Service Area -->
                        <div class="single-service-area text-center">
                            <h2>04.</h2>
                            <h4>Upload file</h4>
                            <p>After filling the template, you only need to upload filled template and click download.</p>
                        </div>
                        <!-- Single Service Area -->
                        <div class="single-service-area text-center">
                            <h2>05.</h2>
                            <h4>That's it!</h4>
                            <p>If you did everything right, that's it. In case you haven't, check any possible errors and try again or contact us.</p>
                        </div>
                    </div>
                </div>
                <!-- Discover More btn -->
                <div class="col-12 text-center mt-100">
                    <a href="{% url 'template' %}" class="btn mosh-btn">Let's start!</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Service Area End ***** -->

