{% load static %}

    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome_area clearfix" id="home" style="background-image: url('{% static "img/core-img/breadcumb.png" %}')">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slides -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <div class="hero-slide-content text-center">
                    <h2>A Simple Solution for Complex Problems</h2>
                    <h4>Are you competitive?</h4>
                    <img class="slide-img" src="{% static 'img/bg-img/device_laptop.png' %}" alt="">
                </div>
            </div>
            <!-- Single Hero Slides -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <div class="hero-slide-content text-center">
                    <h2>Competitiveness Index</h2>
                    <h4>Check out and Calculate CI!</h4>
                    <img class="slide-img" src="{% static "img/bg-img/device_laptop_ci.png" %}" alt="">
                </div>
            </div>
            <!-- Single Hero Slides -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <div class="hero-slide-content text-center">
                    <h2>Revealed Comparative Advantage</h2>
                    <h4>Check out and Calculate RCA!</h4>
                    <img class="slide-img" src="{% static "img/bg-img/device_laptop_rca.png" %}" alt="">
                </div>
            </div>
            <!-- Single Hero Slides -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <div class="hero-slide-content text-center">
                    <h2>Grubel-Lloyd index of Intra-Industry Trade</h2>
                    <h4>Check out and Calculate GLIIT!</h4>
                    <img class="slide-img" src="{% static 'img/bg-img/device_laptop_gliit.png' %}" alt="">
                </div>
            </div>
            <!-- Single Hero Slides -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <div class="hero-slide-content text-center">
                    <h2>Trade Flows and Competition Categories</h2>
                    <h4>Check out and Calculate TFCC!</h4>
                    <img class="slide-img" src="{% static 'img/bg-img/device_laptop_kat.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->