{% load static %}

<link href= "{% static 'software/animate.min.css' %}" rel="stylesheet">

<style>
    #feature1 span
    {
        float: left;
	}


</style>

        <br><br><br>
		<!-- start feature1 -->
		<section id="feature">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.2s">
						<h2 class="text-uppercase">Our Software Features</h2>
						<p>This is the first software on the market that can calculate all these indexes. The software gives the user control to use their data and to make their discoveries without being dependent on any database. CI (name of software) delivers results in just a few seconds that could be calculated manually for weeks or months. Also, the software has a special feature that colors the cell's background that makes it easier to interpret the results, especially when it comes to large amounts of data.</p>
					</div>
					<div class="col-md-6 wow fadeInRight" data-wow-delay="0.2s">
						<img src="{% static 'img/bg-img/device_monitor_kat.png' %}" class="img-responsive" alt="feature img">
					</div>
				</div>
			</div>
		</section>
		<!-- end feature -->
        <br><br><br>
