<h2>RCA, GLIIT, TFCC & CI</h2>

<h6>All in one!</h6>

<br>

<style>
div.container p {
text-align: justify;
font-style: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;
}
</style>

<div class="container">
<p style="color:black">Upload one time, and get all results within one document. About indexes and interpretation of results, check the individual indexes (<a href="{% url 'rca' %}">RCA</a>, <a href="{% url 'gliit' %}">GLIIT</a>, <a href="{% url 'tfcc' %}">TFCC</a>, <a href="{% url 'ci' %}">CI</a>).</p>
</div>

<br>

