<h2>Interpretation of results</h2>

<br>

<style>
div.container p {
text-align: justify;
font-style: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;
}
</style>

<div class="container">
  <p style="color:black">The results are divided into seven categories and each category carries a group of codes that carry a specific meaning which is explained in the table below. There are two types of codes, common and uncommon. Common codes are colored from the darkest red to the darkest green, where green shows successful competitiveness and red shows unsuccessful competitiveness. Uncommon codes are shown in a slightly lighter shade of the same color, these codes are impossible or appear very rarely. If they occur very rarely, it is mainly due to RCA, because it identifies the most successful sectors or tariffs, so in poorly developed economies it will single out the best sectors even though they are not successful, etc.</p>
</div>

<br>




<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-fvor{background-color:#78D23D;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
  .tg .tg-59qn{background-color:#007542;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-mrkj{background-color:#E53935;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-0580{background-color:#9BE931;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-tb6z{background-color:#1E8C45;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-k467{background-color:#A5081A;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-4ond{background-color:#58BB43;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-8oit{background-color:#920717;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-aqw3{background-color:#E57373;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-487l{background-color:#757575;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-2wbt{background-color:#3AA346;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-nrix{text-align:center;vertical-align:middle}
  .tg .tg-uzvj{border-color:inherit;font-weight:bold;text-align:center;vertical-align:middle}
  .tg .tg-g7sd{border-color:inherit;font-weight:bold;text-align:left;vertical-align:middle}
  .tg .tg-yq1g{background-color:#C62828;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-in8m{background-color:#EF9A9A;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  .tg .tg-r21l{background-color:#9E9E9E;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
  </style>
  <table class="tg">
  <thead>
    <tr>
      <th class="tg-nrix" colspan="4"><span style="font-weight:bold">Interpretation of results</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-uzvj">Category</td>
      <td class="tg-g7sd">CI code (common options)</td>
      <td class="tg-g7sd">CI code (impossible or un-common options)</td>
      <td class="tg-uzvj">Explanation</td>
    </tr>
    <tr>
      <td class="tg-uzvj">ci1</td>
      <td class="tg-8oit">aaa</td>
      <td class="tg-k467">aba, aca, ada, baa, bba, bca, bda,</td>
      <td class="tg-lboi">This group of codes indicates only the import category, the group that is characterized as the worst in terms of competitiveness. It is characteristic of this category that only one CI code is possible, "aaa". All indices in the first category are in the most unfavorable categories for the host country.</td>
    </tr>
    <tr>
      <td class="tg-uzvj">ci2</td>
      <td class="tg-yq1g">aab, abb, acb, adb, aad, abd, acd, add, aae, abe, ace, ade</td>
      <td class="tg-mrkj">bab, bbb, bcb, bdb, bad, bbd, bcd, bdd, bae, bbe, bce, bde,</td>
      <td class="tg-lboi">This group of codes indicates the category for unsuccessful non-price competitiveness. For this category, the trade balance is less than zero and the export price of the product is higher than zero.</td>
    </tr>
    <tr>
      <td class="tg-uzvj">ci3</td>
      <td class="tg-aqw3">aac, abc, acc, adc</td>
      <td class="tg-in8m">bac, bbc, bcc, bdc,</td>
      <td class="tg-lboi">This group of codes indicates the category for unsuccessful price competitiveness. This category occurs when the trade balance is less than zero and the export price of the product is less than zero.</td>
    </tr>
    <tr>
      <td class="tg-uzvj">ci4</td>
      <td class="tg-487l">adf, bdf</td>
      <td class="tg-r21l">aaf, abf, acf, baf, bbf, bcf,</td>
      <td class="tg-lboi">This category can be explained as a category that has neither successful nor unsuccessful competitiveness or neither price nor non-price competitiveness. This category is obtained when the values of imports and exports are equal and in addition the prices of products or services are equal, this category is extremely rare under normal conditions. It can occur in only two cases, namely "adf" and "bdf".</td>
    </tr>
    <tr>
      <td class="tg-uzvj">ci5</td>
      <td class="tg-fvor">bai, bbi, bci, bdi</td>
      <td class="tg-0580">aai, abi, aci, adi,</td>
      <td class="tg-lboi">This group of codes belongs to the category for successful price competitiveness. For this category, the trade balance is above zero, and the price of the export unit is lower than the price of the import unit, in this category the country is competitive but needs to export many products because competition is achieved in quantity.</td>
    </tr>
    <tr>
      <td class="tg-uzvj">ci6</td>
      <td class="tg-2wbt">bag, bbg, bcg, bdg, bah, bbh, bch, bdh, baj, bbj, bcj, bdj</td>
      <td class="tg-4ond">aag, abg, acg, adg, aah, abh, ach, adh, aaj, abj, acj, adj,</td>
      <td class="tg-lboi">This group of codes belongs to the category for successful non-price competitiveness. In this category, the trade balance is above zero, and the unit price of exports is higher than the unit price of imports, in this category the country exports more expensive products and achieves competitiveness per unit of product.</td>
    </tr>
    <tr>
      <td class="tg-uzvj">ci7</td>
      <td class="tg-59qn">bak</td>
      <td class="tg-tb6z">aak, abk, ack, adk, bbk, bck, bdk,</td>
      <td class="tg-lboi">This group of codes indicates only the export category, a category that can be characterized as the best for the country, but not as good as the competitiveness category, in this category the country only exports. It is characteristic of this category that only one CI code is possible, "bak".</td>
    </tr>
  </tbody>
  </table>