<h2>Competitiveness Index</h2>

<h6>About CI</h6>

<br>

<style>
div.container p {
text-align: justify;
font-style: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;
}
</style>

<div class="container">
<p style="color:black">Competitiveness index is calculated based on three indexes; RCA, GLIIT and TFCC. This index had the task of avoiding the shortcomings of individual indexes, and to give more accurate results.</p>
<p style="color:black">The index was developed through Mirza Uzunović's doctoral dissertation, and further developed through Mahir Mešić's master's thesis.</p>
</div>

<br>




<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-njj6{border-color:inherit;color:#cb0000;font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
  </style>
  <center>
  <table class="tg">
  <thead>
    <tr>
      <th class="tg-c3ow" colspan="6"><span style="font-weight:bold">Calculation method:</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-c3ow" colspan="2">RCA</td>
      <td class="tg-c3ow" colspan="2">GLIIT</td>
      <td class="tg-c3ow" colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TFCC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
      <td class="tg-c3ow">0&lt;RCA&lt;1</td>
      <td class="tg-njj6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
      <td class="tg-c3ow">0%&lt;GLIIT&lt;25%</td>
      <td class="tg-njj6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td class="tg-c3ow">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;K1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td class="tg-njj6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
      <td class="tg-c3ow">1&lt;RCA&lt;∞ </td>
      <td class="tg-njj6">b</td>
      <td class="tg-c3ow">25%&lt;GLIIT&lt;50%</td>
      <td class="tg-njj6">b</td>
      <td class="tg-c3ow">K2</td>
      <td class="tg-njj6">b</td>
    </tr>
    <tr>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow">50%&lt;GLIIT&lt;75%</td>
      <td class="tg-njj6">c</td>
      <td class="tg-c3ow">K3</td>
      <td class="tg-njj6">c</td>
    </tr>
    <tr>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow">75%&lt;GLIIT&lt;100%</td>
      <td class="tg-njj6">d</td>
      <td class="tg-c3ow">K4</td>
      <td class="tg-njj6">d</td>
    </tr>
    <tr>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow">K5</td>
      <td class="tg-njj6">e</td>
    </tr>
    <tr>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow">K6</td>
      <td class="tg-njj6">f</td>
    </tr>
    <tr>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow">K7</td>
      <td class="tg-njj6">g</td>
    </tr>
    <tr>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow">K8</td>
      <td class="tg-njj6">h</td>
    </tr>
    <tr>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow">K9</td>
      <td class="tg-njj6">i</td>
    </tr>
    <tr>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow">K10</td>
      <td class="tg-njj6">j</td>
    </tr>
    <tr>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-c3ow">K11</td>
      <td class="tg-njj6">k</td>
    </tr>
  </tbody>
  </table>
  </center>
  <br>
<div class="container">
  <p style="color:black">Based on the results of three indices, a CI result was obtained. Each index is assigned letters for the result interval of separate indexes, and at the end a result of three letters is obtained, which carries data on all three indexes.</p>
  <p style="color:black">For example, if the RCA is less than 1, the first letter will be "a". If the GLIIT is between 0 and 25%, the second letter will be "a". If TFCC is marked as K1, the third letter will also be "a". In this way we get the result "aaa" which we can check in the table below which means, in this case, it falls into the "Import category only".</p>
</div>