<h2>Grubel-Lloyd Index of Intra-Industry Trade</h2>

<h6>About GLIIT</h6>

<br>

<style>
div.container p {
text-align: justify;
font-style: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;
}
</style>

<div class="container">
<p style="color:black">The Grubel–Lloyd index measures intra-industry trade of a particular product. It was introduced by Herb Grubel and Peter Lloyd in 1971.</p>
<p></p>
</div>

<br>

<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-cly1{text-align:left;vertical-align:middle}
  .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  </style>
  <center>
  <table class="tg">
  <thead>
    <tr>
      <th class="tg-amwm"><span style="font-weight:bold">Calculation method:</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0lax"><img src="https://latex.codecogs.com/gif.latex?\dpi{200}&space;GLIIT&space;=&space;1&space;-&space;\frac&space;{&space;\sum&space;\left&space;|&space;X_{ij}&space;-&space;M_{ij}&space;\right&space;|&space;}&space;{&space;\sum&space;\left&space;|&space;X_{ij}&space;&plus;&space;M_{ij}&space;\right&space;|&space;}&space;*&space;100" title="GLIIT = 1 - \frac { \sum \left | X_{ij} - M_{ij} \right | } { \sum \left | X_{ij} + M_{ij} \right | } * 100" /></td>
    </tr>
    <tr>
      <td class="tg-cly1">Xij - value of exports<br>Mij - value of imports<br></td>
    </tr>
  </tbody>
  </table>
  </center>