<h2>Interpretation of results</h2>

<br>

<style>
div.container p {
text-align: justify;
font-style: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;
}
</style>

<div class="container">
  <p style="color:black">GLIIT is divided into 4 categories for easier interpretation of the results. The first category are Strong inter-industrial trade tendencies, the second category are Weak inter-industrial trade tendencies, the third category are Weak intra-industrial trade tendencies, and the fourth category are Strong intra-industrial trade tendencies.</p>
</div>

<br>


<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
  .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  </style>
  <center>
  <table class="tg">
  <thead>
    <tr>
      <th class="tg-c3ow" colspan="2"><span style="font-weight:bold">Interpretation of GLIIT results</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-lboi">Classification</td>
      <td class="tg-lboi">Explanation</td>
    </tr>
    <tr>
      <td class="tg-fymr">0%&lt;GLIIT&lt;25%</td>
      <td class="tg-0pky">Strong inter-industrial trade tendencies</td>
    </tr>
    <tr>
      <td class="tg-fymr">25%&lt;GLIIT&lt;50%</td>
      <td class="tg-0pky">Weak inter-industrial trade tendencies</td>
    </tr>
    <tr>
      <td class="tg-fymr">50%&lt;GLIIT&lt;75%</td>
      <td class="tg-0pky">Weak intra-industrial trade tendencies</td>
    </tr>
    <tr>
      <td class="tg-fymr">75%&lt;GLIIT&lt;100%</td>
      <td class="tg-0pky">Strong intra-industrial trade tendencies</td>
    </tr>
  </tbody>
  </table>
  </center>


  <br>
  <div class="container">
    <p style="color:black">For easier interpretation of the results and thanks to the capabilities of the software, it has been added cell coloring based on the value of the results. RCA is colored with a red gradient.</p>
  </div>
  <br>

  
  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-baqh{text-align:center;vertical-align:top}
    .tg .tg-e53m{background-color:#F4D9D9;text-align:center;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    .tg .tg-ynvt{background-color:#F7A0A0;text-align:center;vertical-align:top}
    .tg .tg-3ka4{background-color:#FB5050;text-align:center;vertical-align:top}
    .tg .tg-tk8o{background-color:#F00;text-align:center;vertical-align:top}
    </style>
    <center>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-baqh" colspan="2"><span style="font-weight:bold">Coloring by GLIIT</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-e53m">9.52</td>
        <td class="tg-0lax">Strong inter-industrial trade tendencies</td>
      </tr>
      <tr>
        <td class="tg-ynvt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;33.33&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="tg-0lax">Weak inter-industrial trade tendencies</td>
      </tr>
      <tr>
        <td class="tg-3ka4">66.67</td>
        <td class="tg-0lax">Weak intra-industrial trade tendencies</td>
      </tr>
      <tr>
        <td class="tg-tk8o">100</td>
        <td class="tg-0lax">Strong intra-industrial trade tendencies</td>
      </tr>
    </tbody>
    </table>
    </center>
