<h2>Instructions</h2>

<h6>First read INSTRUCTIONS!</h6>


<style>
div.container p {
text-align: justify;
font-style: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;
}
</style>

<div class="container">
<br>
<p style="color:black">- In order to get to the results you need to create an excel template where you will input data that you want to analyze.</p>
<p style="color:black">- If you want to analyze multiple countries you will need to create multiple templates. </p>
<p style="color:black">- In the first field (Country name), you need to input the name of the country that you want to analyze, also the name of the country will be the name of the Excel document.</p>
<p style="color:black">- In the second field, you need to input the names of trade partner countries and you need to separate them with commas. For every trading partner (country) in this field, will be created a new spreadsheet in the Excel document.</p>
<p style="color:black">- In the third field, you need to input years of trade. Every year, you need to separate with a comma. </p>
<p style="color:black">- In the fourth field, you need to input trade tariffs or sectors that you want to analyze. For every trade tariff or sector, you need to separate with a comma.</p>
<p style="color:black">- Try create multiple templates and make sure that you find perfect one before you start entering data.</p>
<p style="color:black; text-align: center">Good luck!</p>

</div>

<br>
