<h2>Instructions for calculation</h2>
<br>
<style>
  div.container p {
  text-align: justify;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}
</style>

<div class="container">
  <p style="color:black">You need to <a href="{% url 'template' %}">create template</a> in order to get your results. Fill in the templates with your data. For RCA and GLIIT only data on values for imports and exports are needed, while for TFCC and CI data on values and quantities for imports and exports are required. If you filled out the template properly, you upload the document and that's it. The results will pop up in a few seconds. In case you have a huge document, please wait, it may take a minute to calculate. In case something is wrong, please make sure you have filled in the templates correctly, that you have not accidentally changed something. If everything is fine and you have a problem, <a href="{% url 'contact' %}">write to us</a>.</p>

</div>

<br>