<h2>Interpretation of results</h2>

<br>

<style>
div.container p {
text-align: justify;
font-style: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;
}
</style>

<div class="container">
  <p style="color:black">RCA is easy to interpret because they have only two categories; if below or above 1. If it's above 1, then is considered that RCA is showing a competitive advantage, and if it's below then it is considered that RCA is not showing a comparative advantage.</p>
</div>

<br>



<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-kwiq{border-color:inherit;color:#000000;text-align:left;vertical-align:top}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
  </style>
  <center>
  <table class="tg">
  <thead>
    <tr>
      <th class="tg-c3ow" colspan="2"><span style="font-weight:bold">Interpretation of RCA results</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0pky">Classification</td>
      <td class="tg-0pky">Explanation</td>
    </tr>
    <tr>
      <td class="tg-fymr">0&lt;RCA&lt;1</td>
      <td class="tg-kwiq">RCA does not show a comparative advantage</td>
    </tr>
    <tr>
      <td class="tg-fymr">1&lt;RCA&lt;∞</td>
      <td class="tg-kwiq">RCA shows a comparative advantage</td>
    </tr>
  </tbody>
  </table>
  </center>

  <br>
  <div class="container">
    <p style="color:black">For easier interpretation of the results and thanks to the capabilities of the software, it has been added cell coloring based on the value of the results. RCA is colored with a green gradient.</p>
  </div>
  <br>

  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-ujx6{color:#333;text-align:left;vertical-align:top}
    .tg .tg-baqh{text-align:center;vertical-align:top}
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
    .tg .tg-2pkx{background-color:#EBF3EB;text-align:center;vertical-align:top}
    .tg .tg-yuqf{background-color:#76BA76;color:#FFF;text-align:center;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    .tg .tg-f57v{background-color:#008000;color:#FFF;font-weight:bold;text-align:center;vertical-align:top}
    </style>
    <center>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-c3ow" colspan="2"><span style="font-weight:bold">Coloring by RCA</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-2pkx">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="tg-ujx6"><span style="color:#333">RCA does not show a comparative advantage</span></td>
      </tr>
      <tr>
        <td class="tg-yuqf">0.5</td>
        <td class="tg-0lax">RCA does not show a comparative advantage</td>
      </tr>
      <tr>
        <td class="tg-f57v">1</td>
        <td class="tg-ujx6"><span style="color:#333">RCA shows a comparative advantage</span></td>
      </tr>
      <tr>
        <td class="tg-f57v">5</td>
        <td class="tg-ujx6"><span style="color:#333">RCA shows a comparative advantage </span></td>
      </tr>
      <tr>
        <td class="tg-baqh">inf</td>
        <td class="tg-ujx6"><span style="color:#333">RCA shows a comparative advantage (infinite value)</span></td>
      </tr>
    </tbody>
    </table>
    </center>