<h2>Interpretation of results</h2>

<br>

<style>
div.container p {
text-align: justify;
font-style: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;
}
</style>

<div class="container">
  <p style="color:black">As explained earlier, the TFCC has 11 categories that are interpreted as you can see in the table below. TFCC is colored with a blue gradient.</p>
</div>

<br>



<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-1fdy{background-color:#055A8C;color:#ffffff;text-align:center;vertical-align:top}
  .tg .tg-baqh{text-align:center;vertical-align:top}
  .tg .tg-lnvj{background-color:#026AA7;color:#ffffff;text-align:center;vertical-align:top}
  .tg .tg-9fhn{background-color:#0C3953;color:#ffffff;text-align:center;vertical-align:top}
  .tg .tg-ijdb{background-color:#298FCA;color:#ffffff;text-align:center;vertical-align:top}
  .tg .tg-fp22{background-color:#056CB8;color:#ffffff;text-align:center;vertical-align:top}
  .tg .tg-ew1t{background-color:#8BBDD9;color:#ffffff;text-align:center;vertical-align:top}
  .tg .tg-my33{background-color:#094C72;color:#ffffff;text-align:center;vertical-align:top}
  .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-oi22{background-color:#E4F0F6;color:#343434;text-align:center;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  .tg .tg-7zkd{background-color:#BCD9EA;color:#656565;text-align:center;vertical-align:top}
  .tg .tg-lv35{background-color:#5BA4CF;color:#ffffff;text-align:center;vertical-align:top}
  .tg .tg-t4hw{background-color:#0079BF;color:#ffffff;text-align:center;vertical-align:top}
  </style>
  <center>
  <table class="tg">
  <thead>
    <tr>
      <th class="tg-baqh" colspan="2"><span style="font-weight:bold">Interpretation of TFCC results</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-amwm">Category</td>
      <td class="tg-1wig">Explanation</td>
    </tr>
    <tr>
      <td class="tg-oi22">K1</td>
      <td class="tg-0lax">Only import category</td>
    </tr>
    <tr>
      <td class="tg-7zkd">K2</td>
      <td class="tg-0lax">Unsuccessful non-price competitiveness</td>
    </tr>
    <tr>
      <td class="tg-ew1t">K3</td>
      <td class="tg-0lax">Unsuccessful price competitiveness</td>
    </tr>
    <tr>
      <td class="tg-lv35">K4</td>
      <td class="tg-0lax">Unsuccessful non-price competitiveness</td>
    </tr>
    <tr>
      <td class="tg-ijdb">K5</td>
      <td class="tg-0lax">Unsuccessful non-price competitiveness</td>
    </tr>
    <tr>
      <td class="tg-t4hw">K6</td>
      <td class="tg-0lax">Competitiveness is neither successful nor unsuccessful</td>
    </tr>
    <tr>
      <td class="tg-fp22">K7</td>
      <td class="tg-0lax">Successful non-price competitiveness</td>
    </tr>
    <tr>
      <td class="tg-lnvj">K8</td>
      <td class="tg-0lax">Successful non-price competitiveness</td>
    </tr>
    <tr>
      <td class="tg-1fdy">K9</td>
      <td class="tg-0lax">Successful price competitiveness</td>
    </tr>
    <tr>
      <td class="tg-my33">K10</td>
      <td class="tg-0lax">Successful non-price competitiveness</td>
    </tr>
    <tr>
      <td class="tg-9fhn">         K11          </td>
      <td class="tg-0lax">Only export category</td>
    </tr>
  </tbody>
  </table>
  </center>
